.app {
  width: 100%;
  box-sizing: border-box;
  padding: 2%;
}

a {
  text-decoration: none;
  color: #A3A6A8;
}


.navbarContainer {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1.8%;
  height: 10vh;
  border-bottom: 2px solid #2e3031;
  overflow: hidden;
  padding-right: 3%;
  box-sizing: border-box;
  font-weight: 600;
}

.navbarContainer img {
  height: 150%;
}

.searchBar {
  flex-grow: 1;
}

.regLinks {
  padding: .8% 1%;
  border-radius: 8px;
  transition: all .1s linear;
}

.regLinks:hover {
  color: #F2F5F8;
  background-color: #464749;
}

.specLinks {
  padding: .8% 1%;
  border-radius: 8px;
  transition: all .1s linear;
  background-color: #d47ee7;
  color: white;
}

.specLinks:hover {
  background-color: #a864b8;
}

.logout{
  font-size: 16px;
  font-weight: 600;
}

.footerContainer {
  display: flex;
  justify-content: center;
  gap: 3%;
  width: 100%;
  height: 30vh;
  border-top: 2px solid #2e3031;
  padding-top: 3%;
  overflow: hidden;
  transition: all .1s linear;
}

.footerContainer a:hover {
  color: #F2F5F8;
}

.footerProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18%;
}

.footerFollow {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -15%;
}

.footerRoutes {
  display: flex;
  flex-direction: column;
  gap: 10%;
  width: 18%;
}

.footerNews {
  display: flex;
  flex-direction: column;
  gap: 10%;
  width: 18%;
}

.footerResources {
  display: flex;
  flex-direction: column;
  gap: 10%;
  width: 18%;
}

.footerTools {
  display: flex;
  flex-direction: column;
  gap: 10%;
  width: 18%;
}

.footerProfile img {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: -27%;
}

/* SIGNUP */

.signupContainer {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #131216;
  border-radius: 10px;
  width: 40%;
  height: 60%;
}

.signupForm input {
  width: 80%;
  height: 12%;
  font-size: 20px;
  border-radius: 10px;
  text-align: center;
}

.signupForm button {
  width: 80%;
  height: 15%;
  border-radius: 10px;
  font-size: 20px;
  border: none;
  color: white;
  background-color: #d47ee7;
  font-weight: 700;
  transition: all .1s linear;
}

.signupForm button:hover {
  background-color: #a864b8;
}



/* TRENDING COLLECTIONS PAGE & COMPONENT BIG */

.trendingHeader{
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7%;
}

.bySalesBig {
  color: #d47ee7;
}

.trendingHeader p {
  color: #A3A6A8;;
}

.timeBoxContainer {
  display: flex;
  width: 100%;
  gap: 1%;
}

.timeBoxContainer p {
  align-self: center;
  background-color: #171819;
  padding: 1%;
  border: 1px solid rgb(68, 205, 255);
  border-radius: 10px;
}

.currentFrameAnalytics {
  align-self: center;
  background-color: #171819;
  padding: 1%;
  border: 1px solid rgb(68, 205, 255);
  border-radius: 10px;
}

.timeBoxBig {
  background-color: #171819;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
  width: 30%;
  height: 8vh;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.timeBoxBig button {
  background: none;
  border: none;
  border-radius: 10px;
  color: #A3A6A8;;
  width: 15%;
  height: 60%;
  font-size: 100%;
  transition: all .1s linear;
}

.timeBoxBig button:hover {
  background-color: #303132;
  border: 1px solid rgb(68, 205, 255);
  color: #e8ebec;;
}

.analyticsBigContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 90%;
  /* border: 2px solid white; */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}

.usdBig {
  font-size: 115%;
  color: #60CD85;
}

.supplyBig {
  font-size: 100%;
  color: #A3A6A8;
}

.infoRowBig {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #292A2B;
  height: 6vh;
  font-size: 85%;
  border-top-right-radius: 10px;
}

.collectionInfoBig {
  width: 30%;
  height: 100%;
  background: none;
  border: none;
  text-align: left;
  color: #F2F5F8;
  font-weight: 600;
  transition: all .1s linear;
  padding-left: 1%;
}

.infoBig {
  width: 14%;
  height: 100%;
  background: none;
  border: none;
  text-align: left;
  color: #F2F5F8;
  font-weight: 600;
  transition: all .1s linear;
}

.collectionInfoBig:hover,
.infoBig:hover, .salesInfoBig:hover {
  background-color: #464749;
}

.analyticsBigRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15vh;
  border-top: 2px solid #2e3031;
  background-color: #171819;
  transition: all .1s linear;
}

.analyticsBigRow:hover {
  background-color: #222425;
}

.analyticsStartBig img {
  width: 20%;
  height: 60%;
  margin-left: 5%;
}

.analyticsStartBig {
  display: flex;
  align-items: center;
  gap: 7%;
  width: 30%;
}

.nameAndSupplyBig {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.analyticsFloorPriceBig {
  width: 14%;
}

.analyticsAverageBig {
  width: 14%;
}

.analyticsVolumeBig {
  width: 14%;
}

.analyticsCapBig {
  width: 14%;
}

.salesBig {
  width: 14%;
}

/* SALES PAGE BIG */

.salesPriceBig {
  width: 18%;
}

.salesTimeBig {
  width: 18%;
}

.salesTransferBig {
  width: 23%;
  font-size: 70%;
}

.salesBigRow {
  display: flex;
  align-items: center;
  width: 100%;
  height: 15vh;
  border-top: 2px solid #2e3031;
  background-color: #171819;
  transition: all .1s linear;
}

.salesBigRow:hover {
  background-color: #222425;
}

.salesInfoBig {
  width: 18%;
  height: 100%;
  background: none;
  border: none;
  text-align: left;
  color: #F2F5F8;
  font-weight: 600;
  transition: all .1s linear;
  overflow: hidden;
}

.transferInfoBig {
  width: 34%;
}

.transferInfoBig:hover {
  border-top-right-radius: 10px;
}

.sellerTextBig {
  color: #d47ee7;
}

.buyerTextBig {
  color: #d47ee7;
}

.ethSalePriceBig {
  display: flex;
  height: 10%;
}

.ethLogo {
  width: 10%;
  height: 20%;
  margin-left: -10%;
}

.ethLogoTwo {
  width: 12%;
  height: 20%;
  margin-left: -12%;
}

/* NFT DETAILS PAGE */

.nftDetailsBox {
  width: 100%;
}

.pictureAndDetails {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pictureBox {
  width: 30%;
  height: 70%;
  overflow: hidden;
  border-radius: 10px;
}

.pictureAndDetails img {
  width: auto;
  height: 100%;
}

.nftDetailsSideBox {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 10%;
  padding: 2%;
  width: 30%;
  height: 70%;
  background-color: #171819;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.nftDetailsSideBox a {
  padding: 10%;
  text-align: center;
  border-radius: 10px;
  background-color: #292A2B;
  transition: all .1s linear;
}

.nftDetailsSideBox a:hover {
  background-color: #2e3031;
  color: #F2F5F8;
}

.noTran {
  width: 98%;
  text-align: center;
}

.nftNameSale {
  color: #d47ee7;
}

/* COLLECTION DETAILS */

.collectionDetailsContainer {
  width: 100%;
}

.collectionDetailsRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45vh;
  margin-bottom: 2%;
}

.collectionDetailsBlockOne {
  border-radius: 15px;
  width: 49%;
  height: 83%;
  background-color: #171819;
  box-sizing: border-box;
  padding: 2.5%;
}

.description {
  width: 100%;
  margin-top: 5%;
  color: #A3A6A8;
}

.detailsRow {
  display: flex;
  align-items: center;
  gap: 5%;
  width: 100%;
  height: 50%;
}

.detailsRow img {
  width: 18%;
  border-radius: 8%;
}

.detailsColumn {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10%;
  justify-content: center;
}

.contractAddress {
  color: #A3A6A8;
}

.tokenDetailAmount {
  background-color: #222425;
  color: #A3A6A8;
  padding: 2%;
  border-radius: 5px;
  width: 50%;
  text-align: center;
}

.collectionDetailsBlockTwo {
  border-radius: 15px;
  width: 49%;
  height: 83%;
  background-color: #171819;
  box-sizing: border-box;
  padding: 2.5%;
  display: flex;
  flex-direction: column;
  gap: 10%;
}

.collectInfo {
  color: #F2F5F8;
  font-weight: 600;
}

.infoLinksBox {
  width: 100%;
  display: flex;
  gap: 2.5%;
}

.infoLinksBox a {
  padding: 2% 3%;
  border-radius: 10px;
  background-color: #222425;
  transition: all .1s linear;
}

.infoLinksBox a:hover {
  background-color: #292A2B;
  color: #F2F5F8;
}

.collectionDetailsNavigation {
  border-bottom: 1px solid #2e3031;
  width: 100%;
  margin-bottom: 2%;
}

.collectionDetailsNavigation button {
  color: #A3A6A8;
  background: none;
  border: none;
  padding: 1%;
  width: 10%;
  font-size: 90%;
  font-weight: 600;
  transition: all .1s linear;
}

.collectionDetailsNavigation button:hover {
  background-color: #222425;
  color: #F2F5F8;
}

.analyticDetailsContainer {
  width: 100%;
}

.timeBoxAnalyticBox {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2%;
}

.timeBoxAnalyticDetails {
  background-color: #171819;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
  width: 30%;
  height: 8vh;
  border-radius: 10px;
}

.timeBoxAnalyticDetails button {
  background: none;
  border: none;
  border-radius: 10px;
  color: #A3A6A8;;
  width: 15%;
  height: 60%;
  font-size: 100%;
  transition: all .1s linear;
}

.timeBoxAnalyticDetails button:hover {
  background-color: #303132;
  border: 1px solid rgb(68, 205, 255);
  color: #e8ebec;;
}

.fourBox {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.topRow {
  width: 100%;
  height: 48%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topBoxLeft {
  background-color: #171819;
  width: 49%;
  height: 85%;
  border-radius: 10px;

  box-sizing: border-box;
  padding: 2%;
  display: flex;
  justify-content: space-between;
}

.overviewBoxLeft {
  background-color: #222425;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
  width: 40%;
}

.overviewBoxRight {
  border-radius: 10px;
  width: 50%;
  overflow: hidden;
  position: relative;
}

.overviewBoxRight img {
  position: absolute;
  top: -150%;
  left: -50%;
}

.overviewTopic {
  color: #A3A6A8;
  font-weight: 600;
}

.overviewUsd {
  color: #60CD85;
}

.overviewEthBox {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: -6%;
}

.ethImage {
  width: 10%;
  height: 90%;
  align-self: center;
}

.topBoxRight {
  background-color: #171819;
  width: 49%;
  height: 85%;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 2%;
  display: flex;
  justify-content: space-between;
}

.bottomRow {
  width: 100%;
  height: 48%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottomBoxLeft {
  background-color: #171819;
  width: 49%;
  height: 85%;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 2%;
  display: flex;
  justify-content: space-between;
}

.bottomBoxRight {
  background-color: #171819;
  width: 49%;
  height: 85%;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 2%;
  display: flex;
  justify-content: space-between;
}

.infoRowBigTwo {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #292A2B;
  height: 6vh;
  font-size: 85%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-top: 2%;
}




.nftSectionAll {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nftCardLink {
  margin-bottom: 3%;
  color: white;
}

.nftCard {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 45vh;
  overflow: hidden;
  box-shadow: 0px 0px 10px 2px #070708;
  background-color: #171819;
  transition: all .1s linear;
}

.nftCardImageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75%;
  overflow: hidden;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  flex-grow: 1;
}

.nftCardImage {
  width: 100%;
  height: 100%;
  transition: all .1s linear;
}

.nftCardDetailsBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  flex-grow: 1;
}

.nftCardDetailsBox > h2 {
  margin-left: 7%;
}

.nftCard:hover .nftCardImage {
  width: 103%;
  /* height: 103%; */
}

.tokenIdColor {
  color: #d47ee7;
}

/* HOME PAGE */

.homeHeader {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 7%;
  margin: 4% 0;
}

.homeHeader h2 {
  color: #F2F5F8;
}

.homeHeader p {
  margin-top: -2%;
  color: #A3A6A8 ;
}

.blueText {
  color: rgb(68, 205, 255);
}

.homeImageBox {
  width: 93%;
  display: flex;
  height: 60vh;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.homeImageBox img {
  position: absolute;
  width: 100%;
  height: 170%;
  top: -60%;
}

.homeAnalyticsContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly; 
  margin-bottom: 8%;
}

.homeCollectionAnalytics {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.homeTopSales {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.smallAnalyticContainer {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.analyticsSmallRow {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 15vh;
  border-top: 2px solid #2e3031;
  background-color: #171819;
  transition: all .1s linear;
  font-size: 80%;
}

.analyticsSmallRow:hover {
  background-color: #222425;
}

.analyticsStartSmall {
  display: flex;
  align-items: center;
  gap: 7%;
  width: 35%;
}

.salesSmall {
  width: 13%;
}

.analyticsFloorPriceSmall {
  width: 20%;
}

.analyticsVolumeSmall {
  width: 20%;
}

.analyticsStartSmall img {
  width: 20%;
  height: 60%;
  margin-left: 5%;
}

.infoSmall {
  width: 20%;
  height: 100%;
  background: none;
  border: none;
  text-align: left;
  color: #F2F5F8;
  font-weight: 600;
  transition: all .1s linear;
  flex-grow: 1;
}

.infoSmallSales {
  width: 13%;
}

.infoSmall:hover,
.collectionInfoSmall:hover, .collectionInfoSmallTwo:hover, .infoSmallTwo:hover {
  background-color: #464749;
}

.infoRowSmall {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #292A2B;
  height: 6vh;
  font-size: 85%;
  border-top-right-radius: 10px;
}

.collectionInfoSmall {
  width: 35%;
  height: 100%;
  background: none;
  border: none;
  text-align: left;
  color: #F2F5F8;
  font-weight: 600;
  transition: all .1s linear;
  padding-left: 1%;
  flex-grow: 1;
}

.timeBoxSmall {
  background-color: #171819;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
  width: 50%;
  height: 7vh;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.timeBoxSmall button {
  background: none;
  border: none;
  border-radius: 10px;
  color: #A3A6A8;;
  width: 15%;
  height: 60%;
  font-size: 100%;
  transition: all .1s linear;
}

.timeBoxSmall button:hover {
  background-color: #303132;
  border: 1px solid rgb(68, 205, 255);
  color: #e8ebec;
}

.topNavigationSmall {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 3%

}

.seeMoreSmall {
  border-radius: 5px;
  padding: 1.5%;
  font-weight: 600;
  background-color: #171819;
  transition: all .1s linear;
}

.seeMoreSmall:hover {
  background-color: #222425;
}


.salesSmallRow {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 15vh;
  border-top: 2px solid #2e3031;
  background-color: #171819;
  transition: all .1s linear;
  font-size: 80%;
}

.salesSmallRow:hover {
  background-color: #222425;
}

.salesStartSmall {
  display: flex;
  align-items: center;
  gap: 7%;
  width: 35%;
}

.salesStartSmall img {
  width: 20%;
  height: 60%;
  margin-left: 5%;
}

.salesPriceSmall {
  width: 20%;
  margin-left: 8%;

}

.salesTimeSmall {
  width: 20%;

}

.collectionInfoSmallTwo {
  width: 40%;
  height: 100%;
  background: none;
  border: none;
  text-align: left;
  color: #F2F5F8;
  font-weight: 600;
  transition: all .1s linear;
  padding-left: 7.3%;
  flex-grow: 1;
}

.infoSmallTwo {
  width: 15%;
  height: 100%;
  background: none;
  border: none;
  text-align: left;
  color: #F2F5F8;
  font-weight: 600;
  transition: all .1s linear;
  flex-grow: 1;
}
